#page_loading {
    display:  inherit;
}

#page_login {
    display:  inherit;
}

#page_menu{
    display:  inherit;
}

#page_ingame {
    display:  inherit;
}

#page_result {
    display:  inherit;
}